### Input and Output Methods
- reading data or information from the user......***input()***
    - static input
    - dynamical input
- displaying the information

In [1]:
a=20
b=48
print(a)
print(b)

20
48

In [2]:
a=input()
a

748

'748'

In [3]:
a=input("enter user value")
a

enter user value456

'456'

In [4]:
a=float(input("enter user value"))
a

enter user value456

456.0

In [1]:
a=input("enter value")
print(a)

enter value456
456

In [2]:
a=20
b=30
c=50
print(a,b,c)

20 30 50

In [4]:
a=20
b=30
c=50
print(a,b,c,sep=',')

20,30,50

In [5]:
a=20
b=30
c=50
print(a,b,c,sep=',',end='%d')

20,30,50%d

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
# Generate the three values from the user,that values seperate with $ and end with %
a=input("enter 1st value")
b=input("enter 2nd value")
c=input("enter 3rd value")
print(a,b,c,sep="$",end="%")

enter 1st value45
enter 2nd value74
enter 3rd value24
45$74$24%

### Operators
- Arithmatic operators(+,-,*,/,//,%)
    - output for the normal division is quotient
    - output for the int division or floor division is integer part of the quotient
    - output for the modulo division is remainder
- Assingment operators(=)
- Comparision operators(<,>,<=,>=,==)
- Logical operators(and,or,not)
- Bitwise operators(&,|,^)
- Identity operators(is(==),isnot(!=))
- membership operators(in,notin)

### Arithmatic operators

In [14]:
a=84
b=32
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 116
subtraction 52
multiplication 2688
power 37751755704548378805924827612785513671134948244859424662880256
division 2.625
int division or floor division 2
modulo division 20

### Assignment operators
- It represented with =
- Left side value of the operator(=) is called as a varaible
- Right side value of the varaible(=) is called as value

In [15]:
a=78
b=36
print(a)
print(b)

78
36

### Camparision operator

In [16]:
2>8

False

In [17]:
2<8

True

In [ ]:
if 2>8 and 2<=6;
    print("print true or false")
else;
    print("")

### Logical operators
- and,or,not
- If all the inputs are true the output is true(and).
- If any of the input is true the output is true(or).
- Opposite operation for the given one.

In [18]:
2<4 and 3>5

False

In [19]:
2<5 and 8>5

True

In [20]:
2<4 or 3>5

True

In [21]:
3>5 or 8<3

False

In [22]:
a=100
not a

False

### Bitwise operators

In [23]:
2 & 3
# 2- 0 0 1 0
# 3- 0 0 1 1
# ----------------
#  - 0 0 1 0

2

In [24]:
3|5

7

In [25]:
6^9

15

In [26]:
2<<3

16

In [27]:
2>>3

0

### Identity operators

In [30]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_4812/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Lab\AppData\Local\Temp/ipykernel_4812/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [31]:
a==100 and a!=100

False

### Membership operators

In [32]:
s=[1,2,4,6,8,9]
4 in s

True

In [33]:
10 in s

False

In [34]:
2 in s

True

In [35]:
2 not in s

False

In [36]:
a=57
a=a+1
a

58

In [46]:
a=34
a+=1
## a+=1 ---->a=a+1
## a-=1 ---->a=a-1
## a*=1 ---->a=a*1
## a/=1 ---->a=a/1

In [47]:
a

35

In [48]:
a=34
a-=1
## a+=1 ---->a=a+1
## a-=1 ---->a=a-1
## a*=1 ---->a=a*1
## a/=1 ---->a=a/1

In [49]:
a

33

In [51]:
a=34
a*=2
## a+=1 ---->a=a+1
## a-=1 ---->a=a-1
## a*=1 ---->a=a*1
## a/=1 ---->a=a/1

In [52]:
a

68

In [53]:
a=34
a/=2
## a+=1 ---->a=a+1
## a-=1 ---->a=a-1
## a*=1 ---->a=a*1
## a/=1 ---->a=a/1

In [54]:
a

17.0

### Flow control
- Conditional statements(if,else,elif,nestedif)
- loops(for,while)
- break,return

In [55]:
# c-language 
if(condition){
    print(a)
}

SyntaxError: invalid syntax (Temp/ipykernel_4812/3545136886.py, line 2)

### Conditional statement

In [ ]:
# if 
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
# if - else
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    statement3
    ----------
    statementn

In [56]:
if 2>3:
    print("True")
    print("False")

In [57]:
if 2>3:
    print("True")
else:
    print("False")

False

In [69]:
# given number is even or odd
n=int(input("enter the number\n"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number
38
even number

In [70]:
# given number is zero or positive or negative
n=int(input("enter the number\n"))
if(n==0):
    print("zero")
elif(n>0):
    print("positive")
else:
    print("negative")

enter the number
63
positive

In [72]:
# number is divisible by 2 but not divisible by 10
n=int(input("enter the value\t"))
if(n%2 is 0 and n%10 is not 0):
    print("valid number")
else:
    print("invalid number")

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?

enter the value	76
valid number

C:\Users\Lab\AppData\Local\Temp/ipykernel_4812/2103140627.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if(n%2 is 0 and n%10 is not 0):
C:\Users\Lab\AppData\Local\Temp/ipykernel_4812/2103140627.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if(n%2 is 0 and n%10 is not 0):

In [73]:
n=int(input("enter the value\t"))
if(n%2==0 and n%10!=0):
    print("valid number")
else:
    print("invalid number")

enter the value	75
invalid number

### Range
- Syntax for the range is range(start,end value,step value)
- Starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
# 20,25,30,35,40
range(50)
# consider as start value
range(20,30)
# consider start value and end value 
range(10,1,-1)
# reverse print

In [74]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [75]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [76]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [78]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
list(range(30))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [81]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### loops
- for,while
- for loop :::A for loop in Python is a control flow statememnt that is used to repeatedly execute a group of statement 
            as long as the condition is satisfied such a type of statements is known as a iterative statement therefore a
            for loop is an itterative statement

In [ ]:
syntax:::
        for iter in iterable: # range predefind function in the position of iterable
            statement1
            statement2
            statementn

In [1]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [2]:
for i in range(0,11,2):
    print(i,end="")

0246810

In [3]:
for i in range(0,11,2):
    print(i,end=",")

0,2,4,6,8,10,

In [4]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [5]:
# print the even numbers in the range of 0 to 100 and print even number count
c=0
for i in range(0,100,2):
    c=c+1
    print(i,end=" ")
print("\n even number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98
 even number count: 50

In [6]:
c=0
for i in range(0,101):
    if i%2==0:c=c+1
    print(i,end=" ")
print("even number count:",c)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 even number count: 51

In [7]:
# print leap year from the range of 2000 to 2020
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if (i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyear count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
year count: 6

In [8]:
# print 5 table
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
# print factors of 5
n=int(input())
for i in range(1,n+1):
    if (n%i==0):
        print(i,end=" ")

10
1 2 5 10

In [10]:
# input=aba
# 97+98+97=292
# output=292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

aba
292

In [11]:
# input=aba
# 97+98+97=292
# output=292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

ABA
196

In [13]:
# check the given number is prime or not
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print("prime number")
else:
    print("not prime number")

7
prime number

In [32]:
s=int(input())
n=int(input())
print("even number are:",end=" ")
for i in range(s,n+1):
    if i%2==0:
        print(i,end=" ")
print("\nodd number are:",end=" ")       
for i in range(s,n+1):
    if i%2!=0:
        print(i,end=" ")

0
10
even number are: 0 2 4 6 8 10
odd number are: 1 3 5 7 9